#form_add
	%form{:action => '/add_person', :method => 'post'}
		%table
			%tr
				%td Username:
				%td
					%input{:type => 'text', :name => 'username'}
			%tr
				%td Real Name:		
				%td
					%input{:type => 'text', :name => 'name'}
			%tr
				%td 
				%td
					%input{:type => 'submit', :value => 'Add Me!'}
