!!!
%html
  %head
    %title Wish List Project
    %link(href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css')
    %link(href="css/style.css" rel="stylesheet")
  %body
    #wrapper
      #header
        %h1 Wish List Project
      #nav
        %ul
          %li
            %a{:href => "/"}= "Home"
          %li
            %a{:href => "/people"}= "People"
          %li
            %a{:href => "/things"}= "Things"

      #content
        =yield

      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage

      #footer
        %p
          This is the footer.

