%h3 Add Person:

#form_add
	%form{:action => '/add_person', :method => 'post'}
		%table
			%tr
				%td Username:
				%td
					%input{:type => 'text', :name => 'username'}
			%tr
				%td Real Name:		
				%td
					%input{:type => 'text', :name => 'name'}
			%tr
				%td 
				%td
					%input{:type => 'submit', :value => 'Add Me!'}

#pretty_table
	%table
		%tr
			%th People
		%tr
			-@people.each do |person|
				%tr	
					%td
						%a{:href => "person/#{person.id}"}= person.name
