%h2 these are the people
%form{:action => '/add_person', :method => 'post'}
	%input{:type => 'text', :name => 'username', :value => 'username'}
	%input{:type => 'text', :name => 'name', :value => 'name'}
	%input{:type => 'submit', :value => 'Add Me!'}

%table
	%tr
		%th Name
	%tr
		-@people.each do |person|
			%tr	
				%td
					%a{:href => "person/#{person.id}"}= person.name
