#form_add
	%h3 Add Thing:
	%form{:action => '/add_thing', :method => 'post'}
		%table
			%tr
				%td Item Name:
				%td
					%input{:type => 'text', :name => 'name'}
			%tr
				%td Description:	
				%td
					%textarea{:name => 'description', :rows => 5}
			%tr
				%td Link:
				%td
					%input{:type => 'text', :name => 'link'}
			%tr
				%td
				%td
					%input{:type => 'submit', :value => 'Add It!'}

#pretty_table
	%table
		%tr
			%th Name
			%th Add to Wishlist
		%tr
			-@things.each do |thing|
				%tr			
					%td
						%a{:href => "thing/#{thing.id}"}= thing.name
					%td
						%form{:action => '/add_to_wishlist', :method => 'post'}
							%input{:type => 'hidden', :name => 'thing_id', :value => thing.id}
							%select{:name => 'person_id'}
								-@people.each do |person|
									%option{:value => person.id}= person.name
							%input{:type => 'submit', :value => 'Add To List'}
